@charset "utf-8";
@import "normalize";

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

body {
  background: #ccc;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  @include outer-container();
}


h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}
.welcome {
  @include span-columns(12);
  margin-top: 2em;
  h1 {
    margin-bottom: 2em;
  }
  form {
    margin-bottom: 5em;
  }
  .zone {
    margin-bottom: 5em;
  }
}
