---
title: Zoning San Diego
---

<div class="welcome">
  <h1>Zoning San Diego</h1>
  <form>
    <input type="text" name="zoning" id="address" placeholder="1200 Third Ave" />
    <button id="find-zone" >Find My Zone</button>
    <button id="find-zone-example" >Use example</button>
  </form>
  <div class="zone">
    <h3>Your Zone Type is: <span id="zone"></span></h3>
    <h3>Your Sub Zone Type is: <span id="sub-zone"></span></h3>
    <h3>Your Zone Code is: <span id="zone-code"></span></h3>
  </div>
  <p>Data: <a href="https://data.sandiego.gov/datasets/zoning/">Open Data Portal</a>
  <p>Zoning Types from Municipal Code: <a href="https://www.sandiego.gov/city-clerk/officialdocs/municipal-code/chapter-13">Chapter 13: Zones</a>
  <p>Currently only supports Residential and Commerical Zone sub types.</p>
</div><!-- .welcome -->
